<h2 class="page-header">Catalog</h2>

<div class="catalog-list table">
	<div class="product col-md-4"></div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Inventory</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of catalog">
      <th scope="row">{{ product.productId }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.quantity }}</td>
    </tr>
  </tbody>
</table>

<h3>Add New Product</h3>

<form (submit)="onAddProductSubmit()">
  <div class="form-group">
    <label>Product ID</label>
    <input type="text" class="form-control" [(ngModel)]="productId" name="productId">
  </div>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" [(ngModel)]="name" name="name">
  </div>
  <div class="form-group">
    <label>Category</label>
    <input type="text" class="form-control" [(ngModel)]="category" name="category">
  </div>
  <div class="form-group">
    <label>Quantity</label>
    <input type="text" class="form-control" [(ngModel)]="quantity" name="quantity">
  </div>
	<div class="form-group">
		<input type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple />
		<button type="button" class="btn btn-success btn-s" (click)="upload()">
    	<i class="far fa-cloud-upload"></i>&nbsp;Upload
		</button>
	</div>
  <button type="submit" class="btn btn-primary">Add New</button>
</form>
